In [1]:
import time
import requests
from bs4 import BeautifulSoup
import pandas as pd

PERIOD_DELTA = 7948800
PERIOD_STOP  = 1519516800

def findDataforCompany(ticker):
  totalData = []

  period1 = 1669334400
  period2 = 1677283200

  while period1 >= PERIOD_STOP:
    url = "https://finance.yahoo.com/quote/"+str(ticker)+"/history?period1="+str(period1)+"&period2="+str(period2)+"&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true#:~:text=Currency%20in%20USD-,Download,-Date"
    r = requests.get(url,headers={"User-Agent":"Mozilla/5.0"})
    soup = BeautifulSoup(r.text, "html.parser")

    rows = soup.find("table").find("tbody").find_all("tr")

    for rowNo in range(0,len(rows)):
      cols = rows[rowNo].find_all("span")

      dataRow = []
      for i in range(0, len(cols)):
        dataRow.append(cols[i].text)

      totalData.append(dataRow)

    period1 -= PERIOD_DELTA
    period2 -= PERIOD_DELTA

    print(period1)

    time.sleep(2)


  df = pd.DataFrame(totalData, columns=["Date","Open","High","Low","Close","Adj Close","Volume"])
  df.drop("Adj Close", axis = 1, inplace=True)
  df.to_csv('/content/'+str(ticker)+'.csv', encoding='utf-8')

  return df

# findDataforCompany("GOOG")
# fbResult

In [ ]:
# TECH
# tickers = ["AAPL","MSFT","AMZN","TSLA","NVDA", "PYPL"]
for ticker in tickers:
  print(ticker)
  findDataforCompany(ticker)
  print(" ----- ")

In [ ]:
# MINING
# tickers = ["GLNCY", "BHP", "RIO", "VALE", "CSUAY", "NGLOY", "ZIJMF"]
tickers = ["ZIJMF"]
for ticker in tickers:
  print(ticker)
  findDataforCompany(ticker)
  print(" ----- ")

ZIJMF
1661385600
1653436800
1645488000
1637539200
1629590400
1621641600
1613692800
1605744000
1597795200
1589846400
1581897600
1573948800
1566000000
1558051200
1550102400
1542153600
1534204800
1526256000
1518307200
 -----

In [ ]:
# retail 
tickers = ["WMT", "COST", "HD", "JD", "KR",  "WBA", "BABA", "TGT", "LOW"]
for ticker in tickers:
  print(ticker)
  findDataforCompany(ticker)
  print(" ----- ")

WMT
1661385600
1653436800
1645488000
1637539200
1629590400
1621641600
1613692800
1605744000
1597795200
1589846400
1581897600
1573948800
1566000000
1558051200
1550102400
1542153600
1534204800
1526256000
1518307200
 -----
COST
1661385600
1653436800
1645488000
1637539200
1629590400
1621641600
1613692800
1605744000
1597795200
1589846400
1581897600
1573948800
1566000000
1558051200
1550102400
1542153600
1534204800
1526256000
1518307200
 -----
HD
1661385600
1653436800
1645488000
1637539200
1629590400
1621641600
1613692800
1605744000
1597795200
1589846400
1581897600
1573948800
1566000000
1558051200
1550102400
1542153600
1534204800
1526256000
1518307200
 -----
JD
1661385600
1653436800
1645488000
1637539200
1629590400
1621641600
1613692800
1605744000
1597795200
1589846400
1581897600
1573948800
1566000000
1558051200
1550102400
1542153600
1534204800
1526256000
1518307200
 -----
KR
1661385600
1653436800
1645488000
1637539200

In [ ]:
# construction

tickers = ["LEN", "LGIH", "DFH", "PHM", "CAT", "CCS", "MTH", "TOL", "DHI", "KBH"]
for ticker in tickers:
  print(ticker)
  findDataforCompany(ticker)
  print(" ----- ")

In [ ]:
# cars

tickers = ["TM", "BYDDF", "VWAGY", "MBGYY", "MBWYY", "STLA", "GM", "RACE", "F", "HMC"]
for ticker in tickers:
  print(ticker)
  findDataforCompany(ticker)
  print(" ----- ")